In [1]:
import csv

In [2]:
s=['sid','sname','city','contact']

In [3]:
records=[[1,'milan','vankaner',7632590102],
         [2,'veer','bardoli',9722955429],
         [3,'zeel','surat',9026763218],
         [4,'dhruv','bharuch',5656521478],
         [5,'sujal','surat',693006761]]
p=[]

In [4]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:farhan
enter student city:surat
enter student contact number:9568741230
enter student id:7
enter student name:ujefa
enter student city:songadh
enter student contact number:8745963210
enter student id:8
enter student name:vikas
enter student city:surat
enter student contact number:3210564789
enter student id:9
enter student name:yash
enter student city:bardoli
enter student contact number:6589741230
enter student id:10
enter student name:rudhr
enter student city:surat
enter student contact number:4125369870

In [5]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(s)
    file.writerows(records)
    file.writerows(p)

In [6]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'milan', 'vankaner', '7632590102']
['2', 'veer', 'bardoli', '9722955429']
['3', 'zeel', 'surat', '9026763218']
['4', 'dhruv', 'bharuch', '5656521478']
['5', 'sujal', 'surat', '693006761']
['6', 'farhan', 'surat', '9568741230']
['7', 'ujefa', 'songadh', '8745963210']
['8', 'vikas', 'surat', '3210564789']
['9', 'yash', 'bardoli', '6589741230']
['10', 'rudhr', 'surat', '4125369870']